# AWS Configure profile to lti-gateway
export AWS_PROFILE=Developer-874972061024

# Set the region where you want to deploy
export AWS_REGION=us-east-1

# Name your cloudformation following the established pattern
export CDK_DEPLOY_NAME=lti-jwt-signing-$USER

# The local configuration is going to be used
export CDK_DEPLOY_STAGES=local

# Needed when debugging the CDK app
export CDK_DEFAULT_ACCOUNT=591712154644

# Use the policy & roles created by pipeline-forge for the dev stack
STACK_DESCRIPTION=`aws cloudformation describe-stacks --output json --stack-name lti-jwt-signing-dev`
export BOUNDARY_POLICY_ARN=`jq -r '.Stacks[].Parameters[] | select(.ParameterKey == "BoundaryPolicyArn") | .ParameterValue' <<<"$STACK_DESCRIPTION"`
export CODE_DEPLOY_ROLE_ARN=`jq -r '.Stacks[].Parameters[] | select(.ParameterKey == "CodeDeployRoleArn") | .ParameterValue' <<<"$STACK_DESCRIPTION"`

# Does not work with direnv; source this file or copy to .bash_profile if desired
# Run your tasks like: run <task>
alias run=./Taskfile
